
<footer class="row noprint layout layout-footer container-fluid" role="contentinfo">
    <div class="col-md-1 col-sm-12 d-none d-sm-block noprint">&nbsp;</div>
    <div class="col-md-3 col-sm-12 d-none d-sm-block noprint" aria-label="Footer version">
        <ul class="noDisc">
            <li>Revision @Html.Action("ProductVersion", "Nav")</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12 d-none d-sm-block noprint" aria-label="Footer links">
        <ul class="noDisc">
            <li><a href="https://www.westada.org/">WestAda.org</a></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-12 d-none d-sm-block noprint" aria-label="Footer copyright">
        Copyright 2019<br />West Ada School District<br />1303 East Central Drive<br />Meridian, ID 83642<br />Phone: 208-855-4500
    </div>
    <div class="col-md-1 col-sm-12 d-none d-sm-block noprint">&nbsp;</div>
</footer>


